*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {max-width: 100%;
}

/*fonts*/

@font-face {
  font-family: "BitterRegular";
  src: url("../fonts/BitterRegular/BitterRegular.eot");
  src: url("../fonts/BitterRegular/BitterRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BitterRegular/BitterRegular.woff") format("woff"),
  url("../fonts/BitterRegular/BitterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BitterBold";
  src: url("../fonts/BitterBold/BitterBold.eot");
  src: url("../fonts/BitterBold/BitterBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BitterBold/BitterBold.woff") format("woff"),
  url("../fonts/BitterBold/BitterBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*grid*/
.fw-container {
  width: 100%;
  padding-right: calc((100% - 984px) / 2);
  padding-left: calc((100% - 984px) / 2);
  position: relative;
}

.fw-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.fw-container-offset-left {
  padding-left: calc((100% - 984px) / 2);
}

.fw-container-offset-right {
  padding-right: calc((100% - 984px) / 2);
}

.fw-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  width: calc(100% + 30px);
}

.small-row {
  width: calc(100% + 30px);
  padding-left: 300px;
  padding-right: 300px;
}

.small-row-translate  {
  width: calc(100% + 30px);
  padding-left: 300px;
  padding-right: 385px;
}

.medium-row {
  width: calc(100% + 30px);
  padding-left: 100px;
  padding-right: 100px;
}

.medium-row-translate {
  width: calc(100% + 30px);
  padding-right: 200px;
}

.fw-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


@media (max-width: 1023px) {
  .fw-container {
    padding-right: calc((100% - 800px) / 2);
    padding-left: calc((100% - 800px) / 2);
  }
}

@media (max-width: 840px) {
  .fw-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*=============================================================================*/
/**
*   Columns
*---------------------------------------------------------------------*/
.fw-col-1,
.fw-col-2,
.fw-col-3,
.fw-col-4,
.fw-col-5,
.fw-col-6,
.fw-col-7,
.fw-col-8,
.fw-col-9,
.fw-col-10,
.fw-col-11,
.fw-col-12 {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.fw-col-1 {
  -ms-flex: 0 0 calc((100% / 12) * 1);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}

.fw-col-2 {
  -ms-flex: 0 0 calc((100% / 12) * 2);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}

.fw-col-3 {
  -ms-flex: 0 0 calc((100% / 12) * 3);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}

.fw-col-4 {
  -ms-flex: 0 0 calc((100% / 12) * 4);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}

.fw-col-5 {
  -ms-flex: 0 0 calc((100% / 12) * 5);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}

.fw-col-6 {
  -ms-flex: 0 0 calc((100% / 12) * 6);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}

.fw-col-7 {
  -ms-flex: 0 0 calc((100% / 12) * 7);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}

.fw-col-8 {
  -ms-flex: 0 0 calc((100% / 12) * 8);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}

.fw-col-9 {
  -ms-flex: 0 0 calc((100% / 12) * 9);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}

.fw-col-10 {
  -ms-flex: 0 0 calc((100% / 12) * 10);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}

.fw-col-11 {
  -ms-flex: 0 0 calc((100% / 12) * 11);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}

.fw-col-12 {
  -ms-flex: 0 0 calc((100% / 12) * 12);
  -webkit-box-flex: 0;
          flex: 0 0 calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

@media (max-width: 1599px) {
  .fw-col-xlg-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-xlg-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-xlg-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-xlg-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-xlg-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-xlg-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-xlg-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-xlg-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-xlg-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-xlg-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-xlg-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-xlg-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 1279px) {
  .fw-col-lg-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-lg-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-lg-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-lg-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-lg-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-lg-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-lg-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-lg-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-lg-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-lg-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-lg-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-lg-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 1023px) {
  .fw-col-md-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-md-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-md-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-md-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-md-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-md-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-md-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-md-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-md-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-md-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-md-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-md-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 767px) {
  .fw-col-sm-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-sm-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-sm-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-sm-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-sm-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-sm-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-sm-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-sm-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-sm-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-sm-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-sm-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-sm-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 568px) {
  .fw-col-xsm-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-xsm-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-xsm-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-xsm-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-xsm-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-xsm-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-xsm-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-xsm-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-xsm-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-xsm-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-xsm-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-xsm-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

/*header*/

.fw-justify-content-between{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__topline{
  background-color: #f5f7f9;
}
.header__topline::before{
  content: '';
  display: block;
  height: 9px;
  width: 100%;
  background-image: url(../img/lines.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tel{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tel__link{
  font-family: "SegoeUIRegular";
  font-size: 11px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  margin-left: 5px;
}
.registration{
  font-family: "BitterRegular";
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}
.registration:hover{
  opacity: 1;
}
.registration__submit{ 
  text-decoration: none;
  font-size: 12px; 
  color: #63bbc6; 
  background-color:transparent; 
}
.lang-currency{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lang{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}
.currency{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lang__item, .currency__item{
  background-color: #e6e9ed;
  border-right: 1px solid #f5f7f9;
  font-family: 'SegoeUIRegular';
  font-weight: 700;
  font-size: 11px;
}
.lang__link{
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  color: #444444;
}
.currency__link{
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  color: #444444;
}
.lang__link:hover, .currency__link:hover{
  background-color: #d5e4f1;
}
.current{
  background-color: #78c4cd;
  color: #fff;
}
.current:hover{
  background-color: #78c4cd;
}
.active{
  background-color: #78c4cd;
  color: #fff;
}
.active:hover{
  background-color: #78c4cd;
}
.header__bottomline{
  padding: 50px 0;
  border-bottom: 1px solid #e0e0e0;
}
.header-search{
  position: relative;
  width: 230px;
  height: 35px;
}
.header-search__img{
  display: block;
  cursor: pointer;
 }
.header-search__input{
  outline: none;
 }
.header-search__input:focus{
  border: 1px solid #59b7c2;
  -webkit-box-shadow: 0 0 3px rgba(120,196,205,0.7);
          box-shadow: 0 0 3px rgba(120,196,205,0.7);
 }
.header-search__button{
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  left: 200px;
  top: 10px;
  z-index: 2;
}
.header-search__input{
  padding: 10px 45px 10px 10px;
  width: 230px;
  height: 35px;
  font-size: 12px;
  font-family:"Segoe UI";
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header-user-buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-actions{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}
.header-actions__item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
}
.header-actions__item + .header-actions__item::before{
  content:'|';
  color: #e0e0e0;
}
.header-actions__link{
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #777777;
}
.header-actions__link:hover{
  background-color: #78c4cd;
  color: #fff;
}
.cart{
  font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
  color: #777777;
  background-color: #f1f3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__link{
  text-decoration: none;
  padding: 15px;
  color: #777777;
}
.cart__link:hover{
  background-color: #78c4cd;
  color: #fff;
}
.cart__img{
  margin-right: 7px;
}

/*menu*/

.nav{
  background-color: #f5f7f9;
}
.nav__list{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.nav__item{
  font-family: 'BitterRegular';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: background linear .2s;
  -o-transition: background linear .2s;
  transition: background linear .2s;
}
.nav__item:hover{
  background-color: #78c4cd;
}
.nav__item:hover .nav__links{
  color: #fff;
}
.nav__links{
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #737474;
  -webkit-transition: color linear .2s, background-color linear .2s;
  -o-transition: color linear .2s, background-color linear .2s;
  transition: color linear .2s, background-color linear .2s;
}
.nav__links:hover{
  background-color: #78c4cd;
  color: #fff;
}
.nav__links-active{
  display: block;
  padding: 20px;
  color: #fff;
  background-color: #78c4cd;
  text-decoration: none;
}

/*slider*/

.slider{
  padding: 20px 0;
  margin: auto;
  position: relative;
}
.slide__bg{
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
} 
.slide__product{
  position: absolute;
  z-index: 3;
  top: 16%;
  left: 4%;
}
.slide__text{
  position: absolute;
  z-index: 3;
  top: 10%;
  right: 15%;
}
h1{
  font-family: 'BitterRegular';
  font-size: 36px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}
.slide__text-about{
  font-family: 'BitterRegular';
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0;
  padding: 8px;
}

/*banners*/

.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e0e0e0;
}
.banner__img{
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__text{
 
}
h2{
  font-family: 'BitterRegular';
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}
.banner__text-about{
  font-family: 'SegoeUILight';
  font-size: 20px;
  color: #777777;
  margin: 0px;
}
.pb-30{
  padding-bottom: 30px;
}

/*pop-up*/

.container-pop-up{
  display: none;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.7);
}
.pop-up{
  width: 500px;
  height: 400px;
  background-color: #fff;
  position: relative;
  top: calc((100% - 400px) / 2);
  left: calc((100% - 500px) / 2);
}
.form-pop-up{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-pop-up__title{
  font-family: 'BitterBold';
  font-size: 36px;
  color: #78c4cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 20px 0;
}
.form-pop-up__text{
  width: 60%;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
  padding: 10px;
  color: #78c4cd;
  border: 3px solid #69adb5;
  outline: none;
  margin: 10px 0;
}
.btn{
  background-color: #80f3f7;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  border: 5px solid #69adb5;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'SegoeUIRegular';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px;
  margin-top: 20px;

  color: #78c4cd;
}
.form-pop-up__text::-webkit-input-placeholder{
  color: #78c4cd;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
}
.form-pop-up__text::-moz-placeholder{
  color: #78c4cd;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
}
.form-pop-up__text:-ms-input-placeholder{
  color: #78c4cd;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
}
.form-pop-up__text::-ms-input-placeholder{
  color: #78c4cd;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
}
.form-pop-up__text::placeholder{
  color: #78c4cd;
  font-family: 'SegoeUIRegular';
  font-size: 15px;
}
.escape{
  position: absolute;
  top: 15px;
  right: 15px;
}