*,
*::after,
*::before {
  box-sizing: border-box;
}

img {max-width: 100%;
}

/*fonts*/
@font-face {
  font-family: "BitterRegular";
  src: url("../fonts/BitterRegular/BitterRegular.eot");
  src: url("../fonts/BitterRegular/BitterRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BitterRegular/BitterRegular.woff") format("woff"),
  url("../fonts/BitterRegular/BitterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BitterBold";
  src: url("../fonts/BitterBold/BitterBold.eot");
  src: url("../fonts/BitterBold/BitterBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BitterBold/BitterBold.woff") format("woff"),
  url("../fonts/BitterBold/BitterBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*grid*/
.fw-container {
  width: 100%;
  padding-right: calc((100% - 984px) / 2);
  padding-left: calc((100% - 984px) / 2);
  position: relative;
}

.fw-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.fw-container-offset-left {
  padding-left: calc((100% - 984px) / 2);
}

.fw-container-offset-right {
  padding-right: calc((100% - 984px) / 2);
}

.fw-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  width: calc(100% + 30px);
}

.small-row {
  width: calc(100% + 30px);
  padding-left: 300px;
  padding-right: 300px;
}

.small-row-translate  {
  width: calc(100% + 30px);
  padding-left: 300px;
  padding-right: 385px;
}

.medium-row {
  width: calc(100% + 30px);
  padding-left: 100px;
  padding-right: 100px;
}

.medium-row-translate {
  width: calc(100% + 30px);
  padding-right: 200px;
}

.fw-flex {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1599px) {
  .fw-container {
    padding-right: calc((100% - 1200px) / 2);
    padding-left: calc((100% - 1200px) / 2);
  }
}

@media (max-width: 1279px) {
  .fw-container {
    padding-right: calc((100% - 960px) / 2);
    padding-left: calc((100% - 960px) / 2);
  }

  .medium-row,
  .small-row {
    width: calc(100% + 30px);
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 1023px) {
  .fw-container {
    padding-right: calc((100% - 720px) / 2);
    padding-left: calc((100% - 720px) / 2);
  }
}

@media (max-width: 767px) {
  .fw-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*=============================================================================*/
/**
*   Columns
*---------------------------------------------------------------------*/
.fw-col-1,
.fw-col-2,
.fw-col-3,
.fw-col-4,
.fw-col-5,
.fw-col-6,
.fw-col-7,
.fw-col-8,
.fw-col-9,
.fw-col-10,
.fw-col-11,
.fw-col-12 {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.fw-col-1 {
  -ms-flex: 0 0 calc((100% / 12) * 1);
  flex: 0 0 calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}

.fw-col-2 {
  -ms-flex: 0 0 calc((100% / 12) * 2);
  flex: 0 0 calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}

.fw-col-3 {
  -ms-flex: 0 0 calc((100% / 12) * 3);
  flex: 0 0 calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}

.fw-col-4 {
  -ms-flex: 0 0 calc((100% / 12) * 4);
  flex: 0 0 calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}

.fw-col-5 {
  -ms-flex: 0 0 calc((100% / 12) * 5);
  flex: 0 0 calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}

.fw-col-6 {
  -ms-flex: 0 0 calc((100% / 12) * 6);
  flex: 0 0 calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}

.fw-col-7 {
  -ms-flex: 0 0 calc((100% / 12) * 7);
  flex: 0 0 calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}

.fw-col-8 {
  -ms-flex: 0 0 calc((100% / 12) * 8);
  flex: 0 0 calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}

.fw-col-9 {
  -ms-flex: 0 0 calc((100% / 12) * 9);
  flex: 0 0 calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}

.fw-col-10 {
  -ms-flex: 0 0 calc((100% / 12) * 10);
  flex: 0 0 calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}

.fw-col-11 {
  -ms-flex: 0 0 calc((100% / 12) * 11);
  flex: 0 0 calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}

.fw-col-12 {
  -ms-flex: 0 0 calc((100% / 12) * 12);
  flex: 0 0 calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}

@media (max-width: 1599px) {
  .fw-col-xlg-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-xlg-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-xlg-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-xlg-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-xlg-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-xlg-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-xlg-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-xlg-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-xlg-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-xlg-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-xlg-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-xlg-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 1279px) {
  .fw-col-lg-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-lg-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-lg-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-lg-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-lg-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-lg-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-lg-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-lg-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-lg-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-lg-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-lg-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-lg-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 1023px) {
  .fw-col-md-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-md-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-md-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-md-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-md-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-md-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-md-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-md-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-md-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-md-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-md-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-md-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 767px) {
  .fw-col-sm-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-sm-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-sm-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-sm-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-sm-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-sm-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-sm-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-sm-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-sm-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-sm-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-sm-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-sm-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}

@media (max-width: 568px) {
  .fw-col-xsm-1 {
    -ms-flex: 0 0 calc((100% / 12) * 1);
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }

  .fw-col-xsm-2 {
    -ms-flex: 0 0 calc((100% / 12) * 2);
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }

  .fw-col-xsm-3 {
    -ms-flex: 0 0 calc((100% / 12) * 3);
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }

  .fw-col-xsm-4 {
    -ms-flex: 0 0 calc((100% / 12) * 4);
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }

  .fw-col-xsm-5 {
    -ms-flex: 0 0 calc((100% / 12) * 5);
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }

  .fw-col-xsm-6 {
    -ms-flex: 0 0 calc((100% / 12) * 6);
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }

  .fw-col-xsm-7 {
    -ms-flex: 0 0 calc((100% / 12) * 7);
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }

  .fw-col-xsm-8 {
    -ms-flex: 0 0 calc((100% / 12) * 8);
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }

  .fw-col-xsm-9 {
    -ms-flex: 0 0 calc((100% / 12) * 9);
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }

  .fw-col-xsm-10 {
    -ms-flex: 0 0 calc((100% / 12) * 10);
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }

  .fw-col-xsm-11 {
    -ms-flex: 0 0 calc((100% / 12) * 11);
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }

  .fw-col-xsm-12 {
    -ms-flex: 0 0 calc((100% / 12) * 12);
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }
}
/*header*/
.fw-justify-content-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__topline{
  background-color: #f5f7f9;
}
.header__topline::before{
  content: '';
  display: block;
  height: 9px;
  width: 100%;
  background-image: url(../img/lines.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tel{
  display: flex;
  align-items: center;
}
.tel__link{
  font-family: "SegoeUIRegular";
  font-size: 11px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  margin-left: 5px;
}
.registration{
  font-family: "BitterRegular";
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}
.registration:hover{
  opacity: 1;
}
.registration__submit{ 
  border:none; 
  padding: 0; 
  margin: 0; 
  font-size: 12px; 
  color: #63bbc6; 
  background-color:transparent; 
}
.lang-currency{
  display: flex;
  justify-content: space-between;
}
.lang{
  display: flex;
  margin-right: 25px;
}
.currency{
  display: flex;
}
.lang__item, .currency__item{
  background-color: #e6e9ed;
  padding: 15px 10px;
  border-right: 1px solid #f5f7f9;
  font-family: 'SegoeUIRegular';
  font-weight: 700;
  font-size: 11px;
}
.current{
  background-color: #78c4cd;
  color: #fff;
}
.lang__item:hover, .currency__item:hover{
  background-color: #d5e4f1;
}
.header__bottomline{
  padding: 50px 0;
  border-bottom: 1px solid #e0e0e0;
}
.header-search__input input{
  font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
  padding: 15px;
  width: 230px;
}
.header-user-buttons{
  display: flex;
}
.header-actions{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-actions__item{
  font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
  padding: 0px 15px;
}
.header-actions__item:nth-child(-n+3){
  border-right: 1px solid;
}
.header-actions__link{
  text-decoration: none;
  color: #777777;
}
.cart{
  font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
  color: #777777;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
}
.cart__link{
  text-decoration: none;
  padding: 15px;
}
.cart__img{
  margin-right: 7px;
}
/*menu*/
.nav{
  background-color: #f5f7f9;
}
.nav__list{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav__item{
  font-family: 'BitterRegular';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
  transition: background linear .2s;
}
.nav__item:hover{
  background-color: #78c4cd;
}
.nav__item:hover .nav__links{
  color: #fff;
}
.nav__links{
  text-decoration: none;
  color: #737474;
  transition: color linear .2s, background-color linear 5s;
}
.nav__links__active{
  color: #fff;
  text-decoration: none;
}
.nav__links:hover{
  background-color: #78c4cd;
  color: #fff;
  text-decoration: none;
}
/*slider*/
.slider{
  padding: 20px 0;
}
.slide{
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  display: flex;
}
.slide__product{
  padding: 60px 0;
}
.slide__text{
  padding: 35px 50px;
}
h1{
  font-family: 'BitterRegular';
  font-size: 36px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}
.slide__text-about{
  font-family: 'BitterRegular';
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin: 3px 0;
  padding: 8px;
}
/*banners*/
.banner{
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
}
.banner__img{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__text{
 
}
h2{
  font-family: 'BitterRegular';
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}
.banner__text-about{
  font-family: 'SegoeUILight';
  font-size: 20px;
  color: #777777;
  margin: 0px;
}
.pb-30{
  padding-bottom: 30px;
}